<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="env_name" default="training_env" />
    <arg name="use_gazebo" default="true" />

    <group if="$(arg use_gazebo)">
        <include file="$(find drl_navigation)/launch/training_env.launch">
            <arg name="env_name" value="$(arg env_name)" />
        </include>
        <param name="use_sim_time" value="true" />
    </group>
    
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find drl_navigation)/config/stb3_testing_params.yaml" />
    <rosparam command="load" file="$(find drl_navigation)/config/environment_params.yaml" />
    <rosparam command="load" file="$(find drl_navigation)/config/costmap_params.yaml" />

    <rosparam>
        husarion:
            maps_abspath: /catkin_ws/src/drl_navigation/maps/
    </rosparam>

    <rosparam param="husarion/maps_abspath" subst_value="True">
        $(find drl_navigation)/maps/
    </rosparam>

    <!-- Launch the training system -->
    <node pkg="drl_navigation" name="rosbot_drl_navigation" type="test_stb3" output="screen" />

    <include file="$(find drl_navigation)/launch/amcl.launch">
        <arg name="env_name" value="$(arg env_name)" />
    </include> 
</launch>